.DS_Store
node_modules/
resources/
dist/
resources/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
__pycache__
reportForm/src/utils/request.js
reportForm/config/index.js
phonePages/dwzPage/debug.log
phonePages/commodity-query/.project
*.code-workspace
ProductionModuleComponts/DigitalMeeting/debug.log

#vim
tags
*.swp
